body{
    background-color: orange;
    color: white;
}
.heading{
    justify-content: center;
    align-items: center;
}
.mainbox {
	width: 400px;
	height: 400px;
    margin: 20px auto;
    background-color:black;
    color:orange!important;
    border: 2px solid white;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.box {
  border: 2px solid white;
  border-radius: 2px;
  align-items: center;
  font-weight: bold;
  font-size: 3em;
  color: orange!important;
  display: flex;
  justify-content: center;
}